body {
  font-family: 'Noto Serif JP';
  height: 100%;
  scroll-behavior: smooth;
}

a:focus, a:hover {
  color: #999;
  text-decoration: none;
}

#menuouter {
  width: 100%;
  position: fixed;
  z-index: 990;
  top: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  padding-top: 60px;
  overflow-y: auto;
}

ul#menunavi {
  list-style-type: none;
  background: #ffffff;
  opacity: 0.9;
  z-index: 999;
  padding: 15px;
  margin: 0 20px;
}

ul#menunavi li {
  text-align: left;
  margin: 10px 20px;
  font-size: 1.4rem;
}

ul#menunavi li a {
  text-decoration: none;
  display: block;
  padding: 15px;
}

ul#menunavi li a :hover {
  opacity: 0.7;
  border: 1px solid #333;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#menu-icon {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 999;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.8);
}

#menu-icon .HdFixed {
  background: rgba(255, 255, 255, 0.8);
}

#menu-icon :hover {
  cursor: pointer;
}

#menu-icon span, :before, :after {
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #333;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#menu-icon.HdFixed span, :before, :after {
  background: #333;
}

#menu-icon span {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#menu-icon span:nth-child(1) {
  top: 15px;
}

#menu-icon span:nth-child(2) {
  top: 25px;
}

#menu-icon span:nth-child(3) {
  top: 35px;
}

#menu-icon span :before {
  content: "";
  -webkit-transform: translateY(-10px) rotate(0deg);
          transform: translateY(-10px) rotate(0deg);
}

#menu-icon span :after {
  content: "";
  -webkit-transform: translateY(10px) rotate(0deg);
          transform: translateY(10px) rotate(0deg);
}

.top {
  z-index: 998;
  width: 50px;
  height: 8.3%;
  position: fixed;
  right: 70px;
  top: -3px;
}

.top p {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  color: #ffefef;
}

#vegas {
  width: 100%;
  height: 600px;
  position: relative;
  top: 0;
  z-index: 0;
  margin: -70px auto 0 auto;
}

@media (max-width: 800px) {
  #vegas {
    width: 80%;
  }
}

.fadein {
  opacity: 0.1;
  -webkit-transform: translate(50px, 0);
          transform: translate(50px, 0);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.vegas-slide, .vegas-slide-inner {
  margin: 0;
  padding: 0;
  background: center center no-repeat;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform,opacity;
}

.vegas-overlay, .vegas-slide, .vegas-slide-inner, .vegas-timer, .vegas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border: none;
  padding: 0;
  margin: 0;
}

.vegas-timer-progress {
  width: 0;
  height: 100%;
  background: #fff;
  -webkit-transition: width ease-out;
  transition: width ease-out;
}

#main {
  padding: 0 auto;
}

#main h1 {
  padding: 2em;
}

#main p {
  font-size: 1.3rem;
  line-height: 2em;
  padding-left: 2em;
}

.content02 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.content02 h2 {
  padding: 2em;
  font-size: 1.8em;
}

.content02 p {
  padding-left: 2em;
}

.content02-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.content02-box {
  width: 48%;
}

.content02-box img {
  display: block;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
}

.centertitle {
  width: 1140px;
  max-width: 90%;
  margin: 70px;
}

.pro_col1 {
  width: 1140px;
  max-width: 90%;
  margin: 50px auto;
  text-align: left;
}

.pro_col1 p {
  margin: 1em 0;
  line-height: 2.3em;
}

.breadcrumbs {
  width: 100%;
  margin: 20px auto;
}

.breadcrumbs ol {
  padding-left: 0;
}

.breadcrumbs ol ul {
  width: 70%;
}

.breadcrumbs ol ul li {
  display: inline-block;
  list-style: none;
  color: #000000;
  padding-right: 8px;
}

.breadcrumbs ol ul li a {
  color: #000000;
}

.breadcrumbs ol ul li a:hover {
  color: #fbaa1b;
}

footer.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs_fst {
  width: 1240px;
  margin: 20px auto 0;
}

.breadcrumbs_fst ol li {
  display: inline-block;
  list-style: none;
  color: #231F20;
}

.breadcrumbs_fst ol li a {
  color: #000000;
}

.breadcrumbs_fst ol li a:hover {
  color: #fbaa1b;
}

.breadcrumbs_fst li:last-child::after {
  display: none;
}

::before, :after {
  display: inline-block;
  width: 0;
  height: 0;
  position: unset;
  padding-right: 8px;
}

small {
  color: darkkhaki;
  font-size: 18px;
  width: 100%;
  height: 100px;
  text-align: center;
}

footer {
  width: 100%;
  height: 30px;
  background-color: #00000091;
  color: #fdfdfd;
  text-align: center;
}
/*# sourceMappingURL=sab.css.map */